.lazy-load-image-background.blur {
   filter: blur(15px);
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
   filter: blur(0);
   transition: filter .3s;
}

.lazy-load-image-background.blur > img {
   opacity: 0;
}

.lazy-load-image-background.blur.lazy-load-image-loaded > img {
   opacity: 1;
   transition: opacity .3s;
}

table {
   width: 100% !important;
   margin-bottom: 0px !important;
}

.form-control:focus {
   box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25) !important;
}

.btn {
   font-weight: 500 !important;
}

.invalid-feedback, .valid-feedback {
   display: block !important;
   margin-top: unset !important;
}

.valid-feedback {
   color: #000;
   font-style: italic;
   font-size: 10px;
}

.float-right {
   float: right !important;
}

.row-actions {
   color: #ddd;
   font-size: 13px;
   padding: 2px 0 0;
   position: relative;
   left: -9999em;
}

tr:hover .row-actions, ol.question-lists>li:hover .row-actions {
   position: static;
}

.row-actions span:not(:first-child) {
   padding-left: 10px;
}

.row-actions span {
   color: #0073aa;
}

.row-actions span.delete {
   color: #a00;
}

.row-actions span label {
   cursor: pointer;
}

.row-actions span label:hover {
   color: #124964;
   box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30,140,190,.8);
   outline: 1px solid transparent;
}

.row-actions span.delete label:hover {
   color: #a00;
   box-shadow: 0 0 0 1px #a00, 0 0 2px 1px rgba(30,140,190,.8);
   outline: 1px solid transparent;
}

.form-control-file {
   border: 1px solid #ced4da;
}

.topbar ul.dropdown-user li .dw-user-box .u-img {
   width: 50px !important;
}

.topbar ul.dropdown-user li .dw-user-box .u-text {
   position: absolute;
}

.dropdown-menu {
   border-radius: 0px !important;
   font-size: 14px !important;
   padding: 0px !important;
   margin: 0px !important;
}

.topbar ul.dropdown-user li .dw-user-box .u-text h4 {
   font-size: 14px;
}

.topbar ul.dropdown-user li .dw-user-box .u-text p {
   font-size: 12px !important;
   padding-right: 5px;
}

.topbar .top-navbar .navbar-nav>.nav-item>.nav-link {
   padding-left: unset !important;
   padding-right: unset !important;
   line-height: unset !important;
}

.topbar .top-navbar {
   min-height: unset !important;
   height: 40px;
   padding: 0 1px 0 0 !important;
}

.nav-link {
   padding: .3rem !important;
}

.page-wrapper {
   background: #fff;
}

.topbar .top-navbar .navbar-header {
   line-height: unset !important;
}

.left-sidebar {
   padding-top: 42px !important;
}

.sidebar-nav,
.sidebar-nav>ul {
   padding: 0px !important;
}

.sidebar-nav>ul>li {
   margin-bottom: 0px !important;
}

.sidebar-nav ul li a {
   font-size: 14px !important;
   border-radius: 0px !important;
   padding: 2px 8px 2px 8px !important;
}

.sidebar-nav ul li a:hover {
   background: #eee;
}

.sidebar-nav>ul>li>a i {
   line-height: 0px !important;
}

.page-titles h3 {
   font-size: 16px;
   line-height: 15px !important;
}

.page-titles .breadcrumb {
   font-size: 12px !important;
}

.container-fluid {
   padding: 0 10px !important;
}

.page-titles {
   margin-bottom: 0px !important;
   margin: 0 -20px 10px !important;
   padding: 10px !important;
}

.card {
   border-radius: 0px !important;
   margin-bottom: 0px !important;
   font-size: 14px !important;
   box-shadow: 0 1px 4px 0 rgba(0,0,0,.1) !important;
}

.card-body {
   padding: .25rem !important;
}

.btn, .form-control, .alert, .badge {
   border-radius: unset !important;
}

.form-group {
   margin-bottom: 10px !important;
}

.col-form-label {
   text-align: right !important;
   padding-bottom: 0px !important;
   padding-top: 4px !important;
}

@media (min-width: 768px) {
   .offset-md-3 {
      margin-left: 24.3% !important;
   }
   
   .offset-md-4 {
      margin-left: 32.3% !important;
   }
}

@media (min-width: 576px) {
   .offset-sm-3 {
      margin-left: 24.3% !important;
   }
}

.has-danger .form-control-file {
   border: 1px solid #fc4b6c;
}

.form-control-file {
   min-height: 20px !important;
}

a.nav-link:hover {
   cursor: pointer;
}

ul.list-jenjang li:hover {
   cursor: pointer;
   text-decoration: underline;
   color: #0073aa;
   font-weight: 500;
}

label.required::after {
   content: ' *';
}

.sidebar-nav ul li ul {
   padding-top: 5px !important;
}

#datatable tr:hover {
   cursor: default;
}

.contextMenu {
   position: fixed;
   background: white;
   box-shadow: 0px 2px 10px #999999;
}

.contextMenu--option {
   padding: 6px 50px 5px 10px;
   min-width: 160px;
   cursor: default;
   font-size: 12px;
}

.contextMenu--option:hover {
   background: linear-gradient(to top, #555, #333);
   color: white;
}

.contextMenu--option:active {
   color: #e9e9e9;
   background: linear-gradient(to top, #555, #444);
}

.contextMenu--option__disabled {
   color: #999999;
   pointer-events: none;
}

.contextMenu--separator {
   width: 100%;
   height: 1px;
   background: #CCCCCC;
   margin: 0 0 0 0;
}

label {
   margin-bottom: unset !important;
}